google-generativeai==0.8.6
gspread==6.2.1
openai==2.24.0
pdfminer.six==20251230
pdfplumber==0.11.9
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
python-dotenv==1.2.2
rapidfuzz==3.14.3
scikit-learn==1.8.0
tenacity==9.1.4
